/*FUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*PALETA DE COLORES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
*::-moz-selection {
  background-color: #515151;
  color: #FFCA1E;
}
*::selection {
  background-color: #515151;
  color: #FFCA1E;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202020;
  color: white;
}

span {
  color: #FFCA1E;
}

/*TABLET ==> 768px
  MOBILE ==> 576px*/
/*HEADER*/
header {
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  background-color: #202020;
}
header .header__a:hover {
  color: #FFCA1E !important;
  transition: 1s;
}
header .nav_iconredes {
  padding-left: 4rem;
  display: flex;
  gap: 1rem;
}
header .navbar-brand {
  padding-right: 4rem;
}
header .navbar-brand span {
  padding: 1rem;
}

@media screen and (max-width: 991px) {
  header {
    font-size: 25px;
  }
  header ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*HERO*/
#hero {
  display: flex;
  justify-content: center;
  height: 100vh;
}
#hero .hero__img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  gap: 3rem;
}
#hero .hero__img img {
  border-radius: 20px;
  height: 450px;
  transition: transform 0.2s ease;
}
#hero img:hover {
  transform: scale(1.1);
}

/*Las NOTICIAS mas destacadas*/
#noticias img {
  border-radius: 20px;
  height: 200px;
  transition: transform 0.2s ease;
  margin-block: 0.5rem;
  margin-inline: 0.5rem;
}
#noticias img:hover {
  transform: scale(1.1);
}
#noticias .noticias .noticias__titulo {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
#noticias .noticias .noticias__titulo h4 {
  font-size: 4rem;
  border-bottom: solid white 5px;
}
#noticias .noticias .noticias__cinemusica {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin: 5rem;
  text-align: center;
}
#noticias .noticias .noticias__cinemusica h5 {
  font-size: 2rem;
}
#noticias .noticias .noticias__cinemusica .noticias__cine,
#noticias .noticias .noticias__cinemusica .noticias__musica {
  display: flex;
  flex-direction: column;
}
#noticias .noticias .noticias__img {
  display: flex;
  flex-direction: column;
}

/*RECOMENDACION PELICULAS*/
#recompelis .recompelis__titulo {
  display: flex;
  justify-content: center;
}
#recompelis .recompelis__titulo h6 {
  font-size: 3rem;
  border-bottom: solid white 5px;
}
#recompelis .recom__slider {
  margin: 5rem;
}
#recompelis .recom__slider img {
  height: 400px;
  border-radius: 20px;
}

/*RECOMENDACION CINE*/
#recomcanciones .recomcanciones__titulo {
  display: flex;
  justify-content: center;
}
#recomcanciones .recomcanciones__titulo h6 {
  font-size: 3rem;
  border-bottom: solid white 5px;
}
#recomcanciones .recom__slider {
  margin: 5rem;
}
#recomcanciones .recom__slider img {
  height: 400px;
  border-radius: 20px;
}

/*CURIOSIDADES*/
#curiosidades .curiosidades .curiosidades__titulo {
  display: flex;
  justify-content: center;
}
#curiosidades .curiosidades .curiosidades__titulo h6 {
  font-size: 3rem;
  border-bottom: solid white 5px;
}
#curiosidades .curiosidades .curiosidades__img {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}
#curiosidades img {
  height: 185px;
  transition: transform 0.2s ease;
  border-radius: 20px;
}
#curiosidades img:hover {
  transform: scale(1.1);
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1830px) {
  #noticias .noticias .noticias__cinemusica {
    gap: 5rem;
    margin: 5rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 1800px) {
  #curiosidades .curiosidades .curiosidades__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    margin-left: 50%;
    margin-right: 50%;
  }
}
@media screen and (max-width: 1730px) {
  #hero .hero__img img {
    height: 300px;
  }
}
@media screen and (max-width: 1640px) {
  header .navbar-brand {
    display: flex;
    padding-right: 0rem;
    gap: 1rem;
  }
  header span {
    display: none;
  }
  .nav_iconredes a {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  #recomcanciones .recomcanciones__titulo h6 {
    font-size: 2rem;
    border-bottom: solid white 2px;
  }
}
@media screen and (max-width: 1200px) {
  #hero .hero__img {
    flex-direction: column;
  }
  #recompelis .recompelis__titulo h6 {
    font-size: 2rem;
    border-bottom: solid white 2px;
  }
}
@media screen and (max-width: 930px) {
  #noticias .noticias .noticias__titulo h4 {
    font-size: 3rem;
  }
  #recomcanciones .recomcanciones__titulo h6 {
    font-size: 30px;
    padding: 80px;
    text-align: center;
    border-bottom: none;
  }
  #recompelis .recompelis__titulo h6 {
    font-size: 30px;
    padding: 80px;
    text-align: center;
    border-bottom: none;
  }
  #curiosidades .curiosidades .curiosidades__titulo h6 {
    font-size: 30px;
    padding: 80px;
    text-align: center;
    border-bottom: none;
  }
}
@media screen and (max-width: 991px) {
  header .navbar-brand {
    display: flex;
    padding-right: 2rem;
    gap: 1rem;
  }
  header span {
    display: none;
  }
  .nav_iconredes a {
    display: none;
  }
}
/*TABLET*/
/*
TABLET ==> 768px
MOBILE ==> 576px
*/
@media screen and (max-width: 768px) {
  #hero .hero__img img {
    height: 300px;
  }
  #recompelis .recompelis__titulo h6 {
    font-size: 1.5rem;
  }
  #noticias .noticias .noticias__titulo h4 {
    border-bottom: solid white 2px;
    font-size: 40px;
    padding: 80px;
    text-align: center;
    border-bottom: none;
  }
  #curiosidades .curiosidades .curiosidades__img {
    grid-template-columns: none;
  }
}
/*MOBILE*/
@media screen and (max-width: 576px) {
  #hero .hero__img img {
    height: 170px;
  }
  #recompelis .recompelis__titulo h6 {
    font-size: 50px;
  }
  #recompelis .recompelis__titulo h6 {
    font-size: 30px;
    padding: 80px;
    text-align: center;
    border-bottom: none;
  }
  #noticias .noticias .noticias__cinemusica {
    margin: 5px;
  }
  #noticias img {
    height: 170px;
    margin-block: 0.5rem;
    margin-inline: 0.5rem;
  }
}
@media screen and (max-width: 390px) {
  #curiosidades .curiosidades .curiosidades__img #curiosidades img {
    height: 170px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper a {
  background-color: #202020;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 991px) {
  #recompelis .recom__slider img {
    height: 465px;
  }
  #recomcanciones .recom__slider img {
    height: 465px;
  }
}
@media screen and (max-width: 750px) {
  #recompelis .recom__slider {
    margin: 3rem;
  }
  #recompelis .recom__slider img {
    height: 400px;
  }
  #recomcanciones .recom__slider {
    margin: 3rem;
  }
  #recomcanciones .recom__slider img {
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  #recompelis .recom__slider {
    margin: 1rem;
  }
  #recompelis .recom__slider img {
    height: 270px;
  }
  #recomcanciones .recom__slider {
    margin: 1rem;
  }
  #recomcanciones .recom__slider img {
    height: 270px;
  }
}
footer {
  width: 100%;
  padding: 50px 0px;
  background-color: #202020;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-color: #FFEE32;
          text-decoration-color: #FFEE32;
}

.box__footer a {
  margin-top: 10px;
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
  transition: all 400ms ease;
}

.box__footer a:hover {
  opacity: 0.8;
  transform: translateY(-3%);
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #FFFFFF;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: white;
}

.container__footer hr {
  border: none;
  height: 1px;
  background-color: white;
}

.footer-menu {
  transition: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.footer__text {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer__links {
  color: white;
  display: flex;
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.1);
}
.footer__links a {
  color: white;
  text-decoration: none;
}
.footer__links :hover a {
  filter: none;
}

.footer__redes__hover {
  transition: all 400ms ease;
}

.footer__redes__hover:hover {
  transform: translateY(-3%);
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
}
ul li {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
}

.ig__culturageek {
  display: flex;
  gap: 1rem;
}

.campo {
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px;
  border-color: #FFD100;
}
.campo:hover {
  cursor: pointer;
}

.btn-sub {
  color: white;
  background-color: #FFCA1E;
  border-radius: 5px;
  border-color: black;
  color: black;
  padding: 2px;
  border-color: #FFD100;
}
.btn-sub:hover {
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .container__footer {
    justify-content: center;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 610px) {
  /*footer menu*/
  .footer__links a {
    font-size: 20px;
  }
  .f-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;
  }
}/*# sourceMappingURL=estilo.css.map */