
/*FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$fontLato: "Lato", sans-serif;

/*PALETA DE COLORES*/
$white1: #FFFFFF;

$black1: #000000;
$black2: #202020;

$gray1: #D6D6D6;
$gray2: #B5B5B5;
$gray3: #848383;
$gray4: #515151;
$gray5: #333533;

$yellow1: #FFEE32;
$yellow2: #FFEB54;
$yellow3: #FFE14F;
$yellow4: #FFD520;
$yellow5: #FFD100;
$yellow6: #FFCA1E;

$red: #E03A3E;